version: "3.8"
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp
      - 8388:8388/tcp
      - 8388:8388/udp
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    volumes:
      - /mnt/data/config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=windscribe
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${GLUETUN_USR}
      - OPENVPN_PASSWORD=${GLUETUN_PWD}
      - TZ=Etc/UTC
      - UPDATE_PERIOD=24h

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    depends_on:
      - gluetun
    network_mode: "service:gluetun"
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER=${TRANS_USR}
      - PASS=${TRANS_PWD}
    volumes:
      - /mnt/data/confg/transmission:/config
      - /mnt/data/torrent/downloads:/downloads
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/jellyfin:/config
      - /mnt/data/movies:/movies
      - /mnt/data/tv:/tv
      - /mnt/data/music:/music
      - /mnt/data/tutorials:/tutorials
    ports:
      - 8096:8096
    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
      - PLEX_CLAIM=claim-S6zsEvddnqDvCGSMxULG
    volumes:
      - /mnt/data/config/plex:/config
      - /mnt/data/movies:/movies
      - /mnt/data/tv:/tv
      - /mnt/data/music:/music
      - /mnt/data/tutorials:/tutorials
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/radarr:/config
      - /mnt/data/movies:/movies
      - /mnt/data/torrent/downloads/complete/radarr:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/sonarr:/config
      - /mnt/data/tv:/tv
      - /mnt/data/torrent/downloads/complete/sonarr:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/lidarr:/config
      - /mnt/data/music:/music 
      - /mnt/data/torrent/downloads/complete/lidarr:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped

  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: unless-stopped
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_PWD}
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 1433:1433
    volumes:
      - /mnt/data/config/mssql:/var/opt/mssql
