version: '3.8'
services:
  gluetun:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp
      - 8388:8388/tcp
      - 8388:8388/udp 
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846
    volumes:
      - /mnt/data/config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=windscribe
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${GLUETUN_USR}
      - OPENVPN_PASSWORD=${GLUETUN_PWD}
      - TZ=Etc/UTC
      - SERVER_REGIONS=Tokyo
      - UPDATE_PERIOD=24h

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DELUGE_LOGLEVEL=error
    volumes:
      - /mnt/data/config/deluge:/config
      - /mnt/data/torrent/downloads:/downloads
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/jellyfin:/config
      - /mnt/data/movies:/movies
      - /mnt/data/tv:/tv
      - /mnt/data/music:/music
      - /mnt/data/tutorials:/tutorials
    ports:
      - 8096:8096
    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
      - PLEX_CLAIM=claim-S6zsEvddnqDvCGSMxULG
    volumes:
      - /mnt/data/config/plex:/config
      - /mnt/data/movies:/movies
      - /mnt/data/tv:/tv
      - /mnt/data/music:/music
      - /mnt/data/tutorials:/tutorials
    restart: unless-stopped

  kavita:
    image: jvmilazz0/kavita:latest
    container_name: kavita
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/kavita:/kavita/config
      - /mnt/data/books:/books
    ports:
      - '5000:5000'
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/lidarr:/config
      - /mnt/data/music:/music 
      - /mnt/data/torrent/downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /mnt/data/config/readarr:/config
      - /mnt/data/config/calibre/Calibre Library:/config/Calibre Library
      - /mnt/data/books:/books
      - /mnt/data/torrent/downloads:/downloads
    ports:
      - 8787:8787
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/radarr:/config
      - /mnt/data/movies:/movies
      - /mnt/data/torrent/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/sonarr:/config
      - /mnt/data/tv:/tv
      - /mnt/data/torrent/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    security_opt:
      - seccomp:unconfined 
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/data/config/calibre:/config
      - /mnt/data/books:/books
    ports:
      - 8080:8080
      - 8181:8181
      - 8081:8081
    restart: unless-stopped

  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: unless-stopped
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_PWD}
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 1433:1433
    volumes:
      - /mnt/data/config/mssql:/var/opt/mssql


