version: "3.8"
services:
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER=${DEFAULT_USER}
      - PASS=${DEFAULT_PASS}
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    volumes:
      - ${DATA_PATH}/config/transmission:/config
      - ${DATA_PATH}/torrent/downloads:/downloads
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    user: root
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=http://ehome.local/jellyfin
    volumes:
      - ${DATA_PATH}/config/jellyfin:/config
      - ${DATA_PATH}/config/jellyfin/data:/data
      - ${DATA_PATH}/config/jellyfin/transcode:/transcode
      - ${DATA_PATH}/movies:/movies
      - ${DATA_PATH}/tv:/tv
      - ${DATA_PATH}/music:/music
      - ${DATA_PATH}/tutorials:/tutorials
    ports:
      - 8096:8096
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DATA_PATH}/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DATA_PATH}/config/radarr:/config
      - ${DATA_PATH}/movies:/movies
      - ${DATA_PATH}/torrent/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DATA_PATH}/config/sonarr:/config
      - ${DATA_PATH}/tv:/tv
      - ${DATA_PATH}/torrent/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DATA_PATH}/config/lidarr:/config
      - ${DATA_PATH}/music:/music
      - ${DATA_PATH}/torrent/downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped

  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: unless-stopped
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_PWD}
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - 1433:1433
    volumes:
      - ${DATA_PATH}/config/mssql:/var/opt/mssql

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - /mnt/data/config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /mnt/data/config/nginx/conf.d:/etc/nginx/conf.d:ro
    ports:
      - 80:80
    depends_on:
      - transmission
      - jellyfin
      - prowlarr
      - radarr
      - sonarr
      - lidarr
    restart: unless-stopped

  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    ports:
      - "8191:8191"

